/*------------------------------------
  Slick Gutters
------------------------------------*/

/* Gutters X */
.u-slick--gutters-3 {
	margin-left: -.9375rem;
	margin-right: -.9375rem;

	.slick-slide {
		margin-left: .9375rem;
		margin-right: .9375rem;
	}
}

.u-slick--gutters-4 {
	margin-left: -.4rem;
	margin-right: -.4rem;

	.slick-slide {
		margin-left: .4rem;
		margin-right: .4rem;
	}
}
